.DS_Store
__pycache__

samples*
*renders
nvs_data*
npz_data

data
*.ply 
*.obj
*.mtl
*.stl

*~
*.bak
*.tmp
*.log
*.swp
*.DS_Store
*.pyc

*.png
trash.py
*.blend
*.blend1
results
outputs

blender*
!blender*.py
logs*
tmp*

!assets/examples/renderpeople
!assets/examples/renderpeople/rp_dennis_posed_004_30k.obj
!assets/examples/renderpeople/rp_dennis_posed_004_30k.jpg
!assets/examples/renderpeople/rp_mei_posed_001_30k.obj
!assets/examples/renderpeople/rp_mei_posed_001_dif_2k.jpg
!assets/examples/renderpeople/rp_dennis_posed_004_30k.mtl
!assets/examples/renderpeople/rp_mei_posed_001_30k.mtl

vis.py
